
body {
  padding-top: 61px;
  padding-bottom: 61px;
}

#header, #footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  align-items: center;
  background-color: deepskyblue;
  padding: 2px;

  position: fixed;
  width: 100%;
  z-index: 1;
}

#header {
  top: 0;
}

#footer {
  bottom: 0;
}