
body {
  padding-top: 61px;
  padding-bottom: 145px;
}

#header, #footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  align-items: center;
  padding: 2px;

  position: fixed;
  width: 100%;
  z-index: 1;
}

#header {
  top: 0;
  background-color: deepskyblue;
}

#footer {
  bottom: -10px;
}

#text_input {
  width: 75%;
}

#text_card {
  width: 80%;
} 