<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags - viewport helps avoid shrunk pages on mobile -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>CS50 chat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>

  <!-- templates area-->
  <!-- if no username selected (box in which to input a name)-->
  <script id="no_username" type="text/x-handlebars-template">
          <form id="username_form" class="form-inline">
            <input id="username_input" type="text" class="form-control" name="username" placeholder="Enter a username">
            <button id="username_submit" type="submit" class="btn btn-primary" disabled="">Submit</button>
          </form>
        </script>

  </script>
  <!--// if username selected (plug it into the header)-->
  <script id="yes_username" type="text/x-handlebars-template">
        <div class="yes_username">
              {% raw -%}
              Welcome {{ username }}!
              {%- endraw %}
        </div>
      </script>

  </script>
  <!--// select channel from drop down list -->
  <script id="channel_dropdown" type="text/x-handlebars-template">
          <form id="channeldropdown_form" class="form-inline">
            <a>Join existing chat  </a>
            <select class="form-control" id="dropdown_input">
               {% raw -%}
                {{#each channels}}
                <option>{{this}}</option>
                {{/each}}
              {%- endraw %}
          </select>
          <button id="dropdown_submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </script>

  <!-- enter new channel -->
  <script id="channel_enter" type="text/x-handlebars-template">
        <form id="channelenter_form" class="form-inline">
          <input id="channel_input" type="text" class="form-control" name="channel" placeholder="Create new chat">
          <button id="channel_submit" type="submit" class="btn btn-primary" disabled="">Submit</button>
        </form>
      </script>


  <!--alerts  -->
  <script id="alert" type="text/x-handlebars-template">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% raw -%}
            <strong>Warning! </strong>{{ message }}
            {%- endraw %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </script>

  <!--//channel messages-->
  <script id="channel_messages" type="text/x-handlebars-template">
    {% raw -%}    
    <div class= "card border-{{ messageclass}} m-2">
              <div class="card-body text-{{ messageclass }}">
                <h5 class="card-title">From {{ user }}:</h5>
                <p class="card-text">{{body}}</p>
              </div>
              <div class="card-footer text-muted">
                Sent at {{time}}
              </div>     
        </div>
      {%- endraw %}
      </script>

  <!--//footer when ready to chat--->
  <script id="footer_enterbox" type="text/x-handlebars-template">
        <div id="text_card" class="card text-white bg-info mb-3">
          <div class="card-body">
            {% raw -%}
            <h5 class="card-title">{{ username }} enter a message in "{{ channel }}":</h5>
            {%- endraw %}
            <p class="card-text">
            <form id="textinput_form" class="form-inline">
            <input id="text_input" type="text" class="form-control " name="entermessage" placeholder="Enter your message">
            <button id="text_submit" type="submit" class="btn btn-primary" disabled="">Submit</button>
        </form></p>
        </div>
        </div>
      </script>

</head>

<body>
  <header id="header">
    <span class="logo">
      <img src="{{ url_for('static', filename='cs50chat.jpg') }}" alt="CS50 chat log" width="50%">
    </span>
    <span class="username">
      2 of 4
    </span>
    <span class="choose-channel">
      3 of 4
    </span>
    <span class="enter-channel">
      4 of 4
    </span>
  </header>

  <div id=alert></div>

  <div id=messages></div>

  <footer id="footer">

  </footer>

</body>