<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Required meta tags - viewport helps avoid shrunk pages on mobile -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>CS50 chat</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link rel="stylesheet" href="index.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

      <script>

      document.addEventListener('DOMContentLoaded', () => {

        // Start by checking for username
          var username = localStorage.getItem('username');
        // If no username, draw on no-username template below
          if (username === null) {
            no_user();
            } else {
            load_user(username);

          }
        });

        function no_user() {
          //insert form that allows you to fill in username (template below)
          document.querySelector('.username').innerHTML =
          document.querySelector('#no_username').innerHTML;
          input_user();
        }

        function input_user() {
          // clear username and disable username submit button until new username entered
          document.querySelector('#username_input').value = '';
          document.querySelector('#username_submit').disabled = true;

          document.querySelector('#username_input').onkeyup = () => {
              if (document.querySelector('#username_input').value.length > 0)
                  document.querySelector('#username_submit').disabled = false;
              else
                  document.querySelector('#username_submit').disabled = true;
            }

          document.querySelector('#username_form').onsubmit = () => {

                const username = document.querySelector('#username_input').value;

                if check_username(username) = true {
                  load_user(username)
                } else {
                  input_user()
                }
              }
            }

        function check_username(username) {
            const request = new XMLHttpRequest();
            request.open('POST', `user/${username}`);
            request.onload = () => {
              const valid_username = request.responseText;
            }
            request.send();
            if valid_username = 'valid' {
                load_user(username);
              } else {
                input_user();
              }
          }

      function load_user(username) {
        const yesusername = Handlebars.compile(document.querySelector('#yes_username').innerHTML);
        document.querySelector('.username').innerHTML = yesusername;
      }

        // If button is clicked
      </script>


      <!-- templates area-->
      <!-- if no username selected (box in which to input a name)-->
      <script id="no_username" type="text/x-handlebars-template">
          <form id="username_form" class="form-inline">
            <input id="username_input" type="text" class="form-control" name="username" placeholder="Enter a username">
            <button id="username_submit" type="submit" class="btn btn-primary">Submit</button>
          </form>

      </script>
      <!--// if username selected (plug it into the header)-->
      <script id="yes_username" type="text/x-handlebars-template">
        <div class="yes_username">
              {% raw -%}
              Welcome {{ username }}!
              {%- endraw %}
        </div>
      </script>
      <!--alerts  -->
      <script id="alert" type="text/x-handlebars-template">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% raw -%}
            <strong>Warning! </strong>{{ message }}
            {%- endraw %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </script>

      <!--//chat messages-->
      <script id="chat_message" type="text/x-handlebars-template">
          <div class="chat_message">
              {% raw -%}
                  {{ contents }}
              {%- endraw %}
              <button class="hide">Hide</button>
          </div>
      </script>

  </head>

  <body>
    <header id="header">
      <span class="logo">
          <img src="cs50chat.jpg" alt="CS50 chat log" width="50%">
      </span>
      <span class="username">
          2 of 4
      </span>
      <span class="choose-channel">
          3 of 4
      </span>
      <span class="enter-channel">
          4 of 4
      </span>
    </header>

    <div id=alert></div>


  </body>
